@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700');

:root {
  scrollbar-color: #333333 #999999 !important;
  scrollbar-width: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Nunito', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
